h1 {
    font-family: 'Poppins', monospace;
    font-size: 64px;
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url('Images/wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
}
